{{define "server/args"}}

package args
import(
    "github.com/techidea8/restgo"
	"gorm.io/gorm"
)

type {{.Model}} struct{
    restgo.PageArg
	Total int `json:"total" form:"total"`
	{{range $i,$v := .Columns}}
        {{ $v.ArgTag }}
    {{end}}
}


//分页
func (p *{{.Model}}) Condtions() func(db *gorm.DB) *gorm.DB {
	return func(db *gorm.DB) *gorm.DB {
		if !p.Datefrom.IsZero() {
			db = db.Where("create_at  >= ?", p.Datefrom.String())
		}
		if !p.Dateto.IsZero() {
			db = db.Where("create_at  < ?", p.Dateto.String())
		}
		return db
	}
}
//结束
{{end}}
